@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');
@media (min-width: 768px) {

    #desktop-client {
        display: block;
    }

    #mobile-client {
        display: none;
    }
}

@media (max-width: 768px) {
    #desktop-client {
        display: none;
    }

    #mobile-client {
        display: block;
    }
}

body {
    margin: 0px;
    background-color: #000;
    font-family: "Funnel Display", sans-serif;
    color: white;
    overflow-x: hidden;
}

::selection {
    background: #555;
    color: white;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    border-bottom: 2px solid #444;
}

a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    margin: 0px;
    transition: .4s ease;
}

.active {
    background-color: #454545;
}

a:hover {
    background-color: #575757;
}

.content {
    margin: 0px 20vw;
    padding: 10px;
    border-left: 2px solid #444;
    border-right: 2px solid #444;
    border-bottom: 2px solid #444;
    height: 100%;
    background-color: #0a0a0a;
}

.content::after {
    content: "";
    display: block;
    clear: both;
}

.card {
    background-color: #1a1a1a;
    border: 1px solid #333;
    padding: 0px;
    margin: 20px 10px;
    width: 48%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.cardheading {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding: 0px 10px;
    border-bottom: 1px solid #444;
}

.cardcontent {
    font-size: 1em;
    padding: 10px;
    line-height: 1.5em;
}

.cardimg {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.cardbutton {
    border: #444 1px solid;
    background-color: #333;
    float: right;
}

footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid #444;
    margin-top: 20px;
    height: auto;
    width: 100%;
    bottom: 0;
    position: relative;
}